<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container">
        <div class="center">
            <h1>Rotas com Springboot</h1>
        </div>

        <br>

        <p style="font-size: 22px">Programa desenvolvido com SpringBoot tendo como objetivo explorar o sistema de rotas, tendo dois caminhos possíveis: o de notas, que recebe três valores (P1, P2 e Projeto) retornando a média, e o de CEP, que recebe um CEP determinado e retorna as informações referentes a ele se utilizando da API ViaCEP.</p>

        <br>
        

        <div class="grid">      
            <a href="./notas" role="button">Notas</a>
            <a href="./cep" role="button">CEP</a>
        </div>

        <br>
        <br> 
        <hr>
        <br>
        <br>    

        <div class="center">
            <h1>Padrão Usado</h1>
        </div>

        <br>

        <p style="font-size: 22px"></p>

        <br>

        <br>
        <br> 
        <hr>
        <br>
        <br>    

        <div class="grid">
            <h2>Desenvolvido por</h2>
        </div>

        <div class="grid">
            <article data-theme="light" class="card">
                <img src="https://files.catbox.moe/0mxbni.png" width="200px;">
                <h4>Erick Sousa Santos</h4>
                <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC Zona Sul.</p>
                <a href="http://ericksantos12.neocities.org">Neocities</a>
            </article>
            <article data-theme="light" class="card">
                <img src="https://files.catbox.moe/b0evf0.png" width="200px;">
                <h4>Gabrielle Carvalho Gonçalves das Neves</h4>
                <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC Zona Sul.</p>
                <a href="https://gabriellecgneves.neocities.org/">Neocities</a>
            </article>
            <article data-theme="light" class="card">
                <img src="https://files.catbox.moe/fx0dbl.jpg" width="200px;">
                <h4>Guilherme Soares de Sousa</h4>
                <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC Zona Sul.</p>
            </article>
        </div>
    </main>
</body>
</html>