<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    

    <main class="container">    

        <a href="./" role="button" class="contrast outline">Voltar</a>
        
        <br>
        <br>

        <h1>Cálculo da Média</h1>

        <form action="#" th:action="@{/notas}" th:object="${notasForms}" method="POST">
            
            <div class="grid">
                <label for="">Nota da P1
                    <input type="number" name="nota1" th:field="*{nota1}">
                </label>

                <label for="">Nota da P2
                    <input type="number" name="nota2" th:field="*{nota2}">
                </label>

                <label for="">Projeto
                    <input type="number" name="notaProj" th:field="*{notaProj}">
                </label>

                <label for="">Media Final
                    <h2 th:text="${media}"></h2>
                </label>
            </div>

            <br>

            <div class="grid">
        
                <button type="submit">Calcular</button>
                <button type="reset">Limpar</button>
    
            </div>
        </form>




    </main>
    
</body>
</html>